body{
    background-color: #ffffff;
    margin: 0;
    padding: 0; 
}

img{
    display: block;
}

.mydiv {
    position: relative;
    height:300px;
    width: 100%;
    overflow: hidden;
}

img.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logo-spicy-container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    margin: 0px;
}

.navbar ul{
    list-style: none;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navbar a:hover{
    background-color: #2a2828;
}

.navbar li{
    float: left;
    padding-left: 35px;
}

.navbar{
    padding: 0px;
    margin: 0px;
}

.kontakt{
    color: #0e5a94;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.hvid{
    color: #bebaba;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.om-spicy{
    color: #c82133;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 30px;
    float: left;    
    padding-left: 30px;    
}
      

p{
 color: #272526;
 font-family: 'Sofia Sans Condensed', sans-serif;
 font-size: 20px;
 padding-left: 0px;
}

.paragraf{
text-align: left;
}

.paragraf1{
text-align: right;
}